{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}
    <div data-controller="todo" class="container mt-5">
        <span class="h3">Todo App </span>
        <button
            data-controller="button" data-action="click->button#openModalFrame" data-src="{{ path('app_todo_form') }}"
            class="btn btn-sm btn-primary mb-2 ms-2">
            Add task
        </button>
        {% if todos is not empty %}
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Created</th>
                    <!-- Add a column for the actions -->
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>{{ todo.task }}</td>
                        <td>{{ todo.priority.name }}</td>
                        <td>{{ todo.createdAt|date('d-m-Y H:i:s') }}</td>
                        <td>
                            <a type="button" class="btn btn-primary btn-sm">Edit</a>
                            <a type="button" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {{ include('components/modal-frame.html.twig', {modalTitle: 'Add task', frameId: 'todo-form'}) }}
{% endblock %}